{% extends "base-for-url.html" %}

{% load staticfiles %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Hammadde Maliyet</h3>
                            <p class="text-muted m-b-30 font-13">
                                Sipariş No Sorgu</p>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <form method="POST">
                                        <label>Sipariş Numarası</label>
                                        <input type="text"
                                               name="sipno" class="form-control"
                                               placeholder="Sipariş Numarası Giriniz: 18/73273" required autofocus>
                                        <br/>
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                            Sorgula
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock page_content %}